*{
  font-family: Marker Felt, fantasy;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  align-items: center;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #000;
}
.img{
  margin: 5% 0 5% 0;
  border: #fff 3px solid;
  border-radius: 10px;
  width: 50vw;
}
.divInput h1{
  animation: textAnimation 4s infinite;
  margin: 1px;
}
#data{
  margin: 2%;
}
.tudo h1{
  font-size: 3rem;
}
.tudo h6{
  font-size: 1rem;
}
.tudo{ 
  cursor: pointer;
  display: none;
  margin: 1%;
  background-color: rgb(19, 19, 19);
  border-radius: 100px;
  padding: 5%;
  border: 2px solid #fff; 
  text-align: center;
  margin-left: 10%;
  width: 80vw;
  animation: changeBorder 2s infinite;
  transition: 1s;
}
@keyframes changeBorder{
  10%{
    box-shadow: #fff 0 0 1px 1px;
  }
  20%{
    box-shadow: #fff 0 0 10px;
  }
  30%{
    border: #fff 4px solid;
    box-shadow: #fff 0 0 50px;

  }
}
input{
  padding: 1%;
  font-size: 3vw;
  width: 30vw;
  border-radius: 20vw 0 0  20vw;
  border: #fff 2px solid;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  animation: borda1 5s infinite;
}
#divInput{
  margin-top: 10%;
  align-items: center;
  width: 100vw;
  height: 10vh;
}
button{
  border-radius: 1px 10vw 10vw 1px;
  padding: 1%;
  font-size: 3vw;
  width: 10%;
  border:3px solid rgb(0, 0, 0);
  color: #000;
  background-color: #fff;
  animation: borda2 5s infinite;
}
@keyframes borda1{
  10%{
    border-color: #fff;
  }
  50%{
    border-color: #000;
  }
  100%{
    border-color: #fff;
  }
}
@keyframes borda2{
  10%{
    border-color: #000;
  }
  50%{
    border-color: #fff;
  }
  100%{
    border-color: #000;
  }
}
@keyframes textAnimation {
  10%{
    letter-spacing: 3px;
  }
  50%{
    letter-spacing: 0px;
  }

}
